{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="large-7 columns" role="content">
            <div id="map"></div>
        </div>
        <div class="large-5 columns">
            <h3>En <span class="place_name">Aragón</span></h3>
            <p>En el curso <span id="selected_course">2013/2014</span> hubieron <strong id="total_students">{{ total_students }}</strong> estudiantes en centros rurales agrupados.</p>
            <div id="general_data">
            <p>Repartidos en <strong id="total_places">{{total_places}}</strong> poblaciones.</p>
            <p>Escolarizados en <strong id="total_centers">{{ total_centers }}</strong> centros diferentes.</p>
            </div>

            <p>Evolución de niños escolarizados de los últimos años en <strong><span class="place_name">Aragón</span></strong>:</p>
            <div id="chartContainer">
            </div>
            <select id="yearSelect">
              {% for year in range(2002, 2014) %}
                <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
         
