{% extends "layout.html" %}
{% block title %}
- Equipo
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-5 columns" role="content">
    	<h2>Equipo</h2>
    	<p><strong>JodoCoders</strong> lo forman:</p>
    	<ul>
    		<li>Javier Rubio (<a href="https://twitter.com/jrubr" target="blank">@jrubr</a>). Ideas, sistemas y a partir de ahora <i>hater</i> del ecosistema python.</li>
    		<li>Jesús Barón (<a href="https://twitter.com/jesusbaron" target="blank">@jesusbaron</a>). Sufridor analista de datos.</li>
    		<li>Rafael Ramos (<a href="https://twitter.com/rrasmo" target="blank">@rrasmo</a>). Fontanero del backend.</li>
    		<li>Dani Latorre (<a href="https://twitter.com/dani_latorre" target="blank">@dani_latorre</a>). Desarrollo frontend, por puro descarte.</li>
    	</ul>
    </div>
    <div class="large-7 columns">
        <img src="static/img/jodocoders.jpg" alt="Jodocoders Team">
    </div>
</div>
{% endblock %}
